<!-- new faq modal -->
<div class="modal fade" id="newFAQModal" tabindex="-1" role="dialog" aria-labelledby="newFAQModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newFAQModalTitle">New FAQ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="new_faq_form" method="post" action="{{ url_for('admin.add_faq') }}">
                    {{ new_faq_form.csrf_token }}
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>Order </label>
                            <div style="width: 6em;">
                                {{ new_faq_form.order(class='form-control', type='number') }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>Question </label>
                            <textarea class="form-control" name="question" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label>Answer </label>
                            <textarea class="form-control" name="answer" rows="11"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button onclick="$('#new_faq_form').submit()" class="btn btn-secondary">Submit</button>
            </div>
        </div>
    </div>
</div>
<!-- /new faq modal -->