<h2 class="section_title">Change Name</h2>
<hr/>
<form id="user_settings_change_name_form" action="{{ url_for('login.user_settings_change_name') }}">
    {{ name_form.csrf_token }}
    <div class="row">
        <ul id="user_settings_change_name_form_successes" class="hidden success"></ul>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <ul id="first_name_errors" class="hidden error"></ul>
            {{ name_form.first_name.label }}
            {{ name_form.first_name(size=20, class='form-control', placeholder='Enter First Name', value=current_user.first_name, required='') }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <ul id="last_name_errors" class="hidden error"></ul>
            {{ name_form.last_name.label }}
            {{ name_form.last_name(size=20, class='form-control', placeholder='Enter Last Name', value=current_user.last_name, required='') }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3 col-md-2">
            <button class="btn btn-primary col-sm-12"
                    onclick="modify_user_settings($('#user_settings_change_name_form'));">Go
            </button>
        </div>
    </div>
</form>