<h2 class="section_title">Change Password</h2>
<hr/>
<form id="user_settings_change_password_form" action="{{ url_for('login.user_settings_change_password') }}">
    {{ password_form.csrf_token }}
    <div class="row">
        <ul id="user_settings_change_password_form_successes" class="hidden success"></ul>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <ul id="new_password_errors" class="hidden error"></ul>
            {{ password_form.new_password.label }}
            {{ password_form.new_password(size=20, class='form-control', placeholder='Enter Password', required='') }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <ul id="confirm_password_errors" class="hidden error"></ul>
            {{ password_form.confirm_password.label }}
            {{ password_form.confirm_password(size=20, class='form-control', placeholder='Enter Password', required='') }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6">
            <ul id="current_password_errors" class="hidden error"></ul>
            {{ password_form.current_password.label }}
            {{ password_form.current_password(size=20, class='form-control', placeholder='Enter Password', required='') }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-3 col-md-2">
            <button id="change_password_submit" class="btn btn-primary col-sm-12"
                    onclick="modify_user_settings($('#user_settings_change_password_form'));">Go
            </button>
        </div>
    </div>
</form>