<!-- error alert -->
<div class="alert-container">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="alert-close close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<!-- /error alert -->

<!-- success alert -->
<div class="alert-container">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <button type="button" class="alert-close close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<!-- /success alert -->