<!-- cdn -->
<script src="https://use.fontawesome.com/4c3522225b.js"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<script src="https://cdn.quilljs.com/1.1.9/quill.js"></script>
<link href="https://cdn.quilljs.com/1.1.9/quill.snow.css" rel="stylesheet">
<!-- /cdn -->

<!-- lib -->
<script src="{{ url_for('static', filename='libs/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/bootstrap.min.js') }}"></script>
<link href="{{ url_for('static', filename='libs/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
<!-- /lib -->

<!-- custom -->
<link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/admin/base.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/admin/forms.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/admin/errors.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/validation.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/quill_fonts.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/quill_editor.css') }}" rel="stylesheet" type="text/css" media="all"/>
<!-- /custom -->
