<!-- new post modal -->
<div class="modal fade" id="newPostModal" tabindex="-1" role="dialog" aria-labelledby="newPostModalTitle"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newPostModalTitle">New Post</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="new_add_post_form" method="post" action="{{ url_for('admin.add_post') }}">
                    {{ add_post_form.csrf_token }}
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="title">Title </label>
                            {{ add_post_form.title(class='form-control', type='text', required='') }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-lg-12">
                            <label for="first_name">Body</label>
                            <textarea name="body" class="form-control" rows="7"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" onclick="$('#new_add_post_form').submit();">Submit</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /new post modal -->