{% set id = role.id %}
{% set create_date, create_time = role.create_date|split_datetime %}
<td colspan="5">
    <div class="col-12">
        <hr/>
    </div>
    <div class="details_parent_div" style="display: none;">
        <form id="admin_role_form_{{ id }}" class="admin-role-form">
            <input class="hidden" name="role_id" value="{{ id }}"/>
            <div class="row">
                <div class="form-group col-md-6 col-lg-4">
                    <label>Name </label>
                    <input class="form-control" name="name_input" type="text" value="{{ role.name }}"/>
                </div>
                <div class="form-group col-md-6 col-lg-4">
                    <label>Description </label>
                    <textarea class="form-control" name="description_input" type="text">{{ role.description }}</textarea>
                </div>
                <div class="form-group col-md-6 col-lg-2">
                    <label>Status </label><br>
                    {% if role.active == True %}
                        <div class="btn-group status_group row-item-active">
                            <a class="btn btn-secondary disabled status-icon" href="">
                                <i class="fa fa-check-circle-o" title="Active"></i>
                            </a>
                            <a class="btn btn-secondary status-btn deactivate-row-item-btn">
                                <i class="fa fa-toggle-on" title="Deactivate"></i>
                            </a>
                        </div>
                        <input hidden="hidden" name="active_input" value="on">
                    {% else %}
                        <div class="btn-group status_group row-item-inactive">
                            <a class="btn btn-secondary disabled status-icon" href="">
                                <i class="fa fa-times-circle-o" title="Inactive"></i>
                            </a>
                            <a class="btn btn-secondary status-btn activate-row-item-btn">
                                <i class="fa fa-toggle-off" title="Activate"></i>
                            </a>
                        </div>
                        <input hidden="hidden" name="active_input" value="off">
                    {% endif %}
                </div>
                <div class="form-group col-md-6 col-lg-2">
                    <input type="submit" class="btn btn-secondary float-right" value="Update" style="margin-top: 30px;"
                           onclick="submit_role_data('{{ id }}')">
                </div>
            </div>
        </form>
        <div class="row text-center"></div>
    </div>
</td>