{% extends "main/base.html" %}
{% block title %}Forgot Password{% endblock %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}
    <script type="text/javascript">

        function forgot_password(form) {
            window.event.preventDefault();
            $('.error').each(function () {
                $(this).empty();
                $(this).addClass('hidden');
            });
            $('.success').each(function () {
                $(this).addClass('hidden');
                $(this).empty();
            });
            $('#error_modal_messages').empty();
            var submission_data = form.serializeArray();
            $('#load_icon_1').show();
            $.ajax({
                type: 'POST',
                data: submission_data,
                url: "{{ url_for('login.forgot_password_exec') }}",
                success: function (data, status, request) {
                    alertSuccess(data);
                    $('#load_icon_1').hide();
                },
                error: function (data) {
                    alertError(data);
                    $('#load_icon_1').hide();
                }
            })
        }
    </script>
{% endblock %}

{% block section_title %}
    <div id="forgot_pwd_title" class="section">
        <div class="justify-content-center col-12">
            <h2 class="page-title text-center">Forgot Password</h2>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="forgot_pwd_section" class="container-fluid justify-content-center section">
        <form id="forgot_password_form">
            {{ forgot_password_form.csrf_token }}
            <div class="row">
                <div class="form-group offset-sm-3 col-sm-6">
                    {{ forgot_password_form.email.label }}
                    {{ forgot_password_form.email(class='form-control', placeholder='Enter Your Email', required='') }}
                </div>
                <div class="form-group offset-sm-3 col-sm-6">
                    {{ forgot_password_form.captcha.label }}
                    {{ forgot_password_form.captcha(class='form-control') }}
                </div>
                <div class="form-group offset-md-5 col-md-2 pt-3">
                    <button class="btn btn-primary col-sm-12" onclick="forgot_password($('#forgot_password_form'));">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}