{% extends "main/base.html" %}
{% block title %}Reset Password{% endblock %}

{% block page_styles %}{% endblock %}

{% block page_scripts %}{% endblock %}

{% block section_title %}
    <div id="reset_pwd_title" class="section">
        <div class="justify-content-center col-12">
            <h2 class="page-title text-center">Reset Password</h2>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="reset_pwd_section" class="container-fluid justify-content-center section">
        <form id="reset_password_form" method="post" action="{{ url_for('login.reset_password', token=reset_password_token) }}">
            {{ reset_password_form.csrf_token }}
            <div class="row">
                <div class="form-group offset-sm-3 col-sm-6">
                    {{ reset_password_form.new_password.label }}
                    {{ reset_password_form.new_password(class='form-control', placeholder='Enter Your New Password', required='') }}
                </div>
                <div class="form-group offset-sm-3 col-sm-6">
                    {{ reset_password_form.confirm_password.label }}
                    {{ reset_password_form.confirm_password(class='form-control', placeholder='Confirm Your New Password', required='') }}
                </div>
                <div class="form-group offset-md-5 col-md-2 pt-3">
                    <button class="btn btn-primary col-sm-12" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
