<h2 class="section_title">Change Password</h2>
<hr/>
<form id="user_settings_change_password_form">
    {{ password_form.csrf_token }}
    <div class="row">
        <ul id="user_settings_change_password_form_successes" class="hidden success"></ul>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <ul id="new_password_errors" class="hidden error"></ul>
            {{ password_form.new_password.label }}
            {{ password_form.new_password(size=20, class='form-control', placeholder='Enter Password', required='') }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <ul id="confirm_password_errors" class="hidden error"></ul>
            {{ password_form.confirm_password.label }}
            {{ password_form.confirm_password(size=20, class='form-control', placeholder='Enter Password', required='') }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-12">
            <ul id="current_password_errors" class="hidden error"></ul>
            {{ password_form.current_password.label }}
            {{ password_form.current_password(size=20, class='form-control', placeholder='Enter Password', required='') }}
        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-6 col-md-4 col-lg-3">
            <button id="change_password_submit"  class="btn btn-secondary" onclick="submit_user_settings_change_password_form()">Submit</button>
        </div>
    </div>
</form>