<!-- Sticky footer -->
<footer class="bg-faded text-center footer">
    <hr>
    <div class="container">
        <div class="row">
            <div id="links" class="col-lg-2 offset-lg-4">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.linkedin.com/company/undead-coder-society/"
                           target="_blank" class="btn-social btn-outline"><i class="fa fa-1 fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4 offset-lg-2 mt-2">
                <h6>This site was built with Flask - a Python framework.</h6>
            </div>
        </div>
    </div>
</footer>