<!-- Sticky footer -->
<footer class="bg-faded text-center footer">
{#    <div class="container">#}
        <div class="d-flex flex-row justify-content-between align-items-center">
            <div id="copyright" class="row justify-content-start align-items-end ml-2">
                <span><small>Copyright © 2018 - Undead Coder Society</small></span>
            </div>
            <div id="links" class="">
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/"
                           target="_blank" class="btn-social btn-outline"><i class="fa fa-1 fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://linkedin.com/"
                           target="_blank" class="btn-social btn-outline"><i class="fa fa-1 fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div id="site_links" class="d-flex flex-row justify-content-around align-items-end mr-2">
                <span><small>FAQ</small></span>
                <span class="px-2"><small>|</small></span>
                <span><small>Sitemap</small></span>
                <span class="px-2"><small>|</small></span>
                <span><small>Contact Us</small></span>
            </div>
        </div>
{#    </div>#}
</footer>