<!-- cdn -->
<script src="https://use.fontawesome.com/4c3522225b.js"></script>
<script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Source+Code+Pro:600" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">
<!-- /cdn -->

<!-- lib -->
<script src="{{ url_for('static', filename='libs/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='libs/bootstrap.min.js') }}"></script>
<link href="{{ url_for('static', filename='libs/bootstrap.min.css') }}" rel="stylesheet" type="text/css" media="all"/>
<!-- /lib -->

<!-- custom -->
<link href="{{ url_for('static', filename='css/app.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/main/navbar_top.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/main/navbar_login.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/main/base.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/main/footer.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/main/errors.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/custom/typewriter.css') }}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{ url_for('static', filename='css/main/tiles.css') }}" rel="stylesheet" type="text/css"/>
<link href="{{ url_for('static', filename='css/base-scss.css') }}" rel="stylesheet" type="text/css" media="all"/>
<!-- /custom -->
