<div class="row">
    <div id="news_widget" class="widget col-12">
        <div class="row">
            <div class="col-12 d-inline-flex justify-content-between align-items-center">
                <span><small>Tech News</small></span>
                <span></span>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12">
                <div class="news-link first-link">
                    <a href="https://www.technewsworld.com/story/AWS-to-Help-Build-ONNX-Open-Source-AI-Platform-84971.html"
                       target="_blank">AWS working on open source AI!</a>
                </div>
                <div class="news-link">
                    <a href="https://www.theverge.com/2017/11/30/16719172/paper-fiftythree-paste-slideshow-slack-integration-collaborative"
                       target="_blank">"Paper" app developer launches new iPhone app called "Paste"</a>
                </div>
                <div class="news-link">
                    <a href="https://www.cnet.com/news/fcc-chairman-calls-twitter-the-real-threat-to-an-open-internet/"
                       target="_blank">FCC Chairman: Twitter is real threat 'when it comes to an open internet'...</a>
                </div>
                <div class="news-link">
                    <a href="http://www.bbc.com/news/world-latin-america-42217798"
                       target="_blank">New virtual currency unveiled in... Venezuela?</a>
                </div>
                <div class="news-link">
                    <a href="https://www.reuters.com/article/us-china-cyber/china-think-tank-calls-for-democratic-internet-governance-idUSKBN1DY0QN"
                       target="_blank">China calls for 'Democratic' internet...</a>
                </div>
            </div>
        </div>
    </div>
</div>
